PORT=3000
STRIPE_SECRET=sk_test_51PDoXjGLlT1AdPyQ2SLdl2EQtM6KfdGasrzc71oudUX1JPTAOWeBT7a4B1XfR9g7X38B7BsUsJ37CtHwO6PWtYZz00pNuz1lEj
# This is the signin secret for the webhook in the stripe dashboard
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/api/v1/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/api/v1/payments/cancel